.myBox{
    position: relative;
    width: 165px;
    height: 205px;
    background: rgba(0,0,0,0.75);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.myBox::after{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent, transparent, transparent, #d400d4);
    animation: animate 4s linear infinite;
    animation-delay: -2s;
}
.myBox::before{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent, transparent, transparent, #00ccff);
    animation: animate 4s linear infinite;
}
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.myBox .myBoxBorder{
    position: absolute;
    inset: 5px;
    background: #0c1022;
    border-radius: 16px;
    z-index: 1;
}
.myBox .myBoxTitle{
    position: relative;
    z-index: 3;
    color: #fff;
    font-size: 15px;
}
.myBox img{
    position: relative;
    z-index: 2;
    width: 150px;
    height: 150px;
}
