#box{
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg) rotateY(50deg);
    animation: box 10s linear infinite;
}
@keyframes box{
    0%{
        transform: rotateX(-30deg) rotateY(360deg);
    }
    100%{
        transform: rotateX(-30deg) rotateY(0deg);
    }
}
/* add drop shadow Last*/
#box::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: rgba(17, 17, 17, 0.295);
    transform: rotateX(90deg) translateZ(-220px);
    filter: blur(15px);
}
#box div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
#box div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box div span:nth-child(1){
    transform: rotateY(0deg) translate3d(0,0,150px);
    background: #d8aa77;

}
#box div span:nth-child(1)::before{
    content: "Balinsoft";
    color: black;
    font-size: 40px;
    font-family: Georgia;
    text-align: center;
    position: absolute;
    width: 200px;
    height: 200px;
    background: url(amazon.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
}
#box div span:nth-child(2){
    transform: rotateY(90deg) translate3d(0,0,150px);
    background: #ca9864;

}
#box div span:nth-child(3){
    transform: rotateY(180deg) translate3d(0,0,150px);
    background: #d8aa77;

}
#box div span:nth-child(3)::before{
    content: "Balinsoft";
    color: black;
    font-size: 40px;
    font-family: Georgia;
    text-align: center;
    position: absolute;
    width: 200px;
    height: 200px;
    background: url(arrow.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
}
#box div span:nth-child(4){
    transform: rotateY(270deg) translate3d(0,0,150px);
    background: #ca9864;
}
#box .top{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    background: #e8bb84;
    transform: rotateX(90deg) translate3d(0,0,150px);
}
#box .top::before{
    content: "Balinsoft";
    color: white;
    font-size: 40px;
    font-family: Georgia;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 60px;
    background: #111 url(tape.jpg);
    background-size: 85px;
}
.tape{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
    width: 120px;
    height: 60px;
    background: #111 url(tape.jpg);
    background-position: center;
}
